<mat-accordion multi="true">
  <!-- Create <mat-expansion-panel> for every element in `posts` which is declared in the `.ts`. -->
  <mat-expansion-panel *ngFor="let post of posts">
    <!-- <mat-expansion-panel-header> z.B. Question. -->
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <!-- z.B. Answer shown after clicking the dropdown. -->
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" *ngIf="posts.length <= 0">No posts added yet!</p>
